<body>
<body>
<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Registrarse</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Nombre Completo" id="login-name">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div >
      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Username" id="login-username">
        <label class="login-field-icon fui-user" for="login-username"></label>
      </div>
      <div class="control-group">
        <input type="email" class="login-field" value="" placeholder="Mail" id="login-mail">
        <label class="login-field-icon fui-user" for="login-mail"></label>
      </div>
      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Contraseña" id="login-pass">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>
      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Repetir contraseña" id="login-Rpass">
        <label class="login-field-icon fui-lock" for="login-Rpass"></label>
      </div>

      <a class="btn btn-primary btn-large btn-block" href="#">Login</a>
    </div>
  </div>
</div>
</body>
</body>
